@import './Videos.css';
@import './Playlists.css';
@import 'Container.css';

.App {
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(14, 14, 14) 35%, rgb(45, 45, 45) 100%);
    min-height: 100vh;
    color: #fff;
}

.Title {
    font-size: 2.5rem;
    color: #fff;
}
.Title__subtitle {
    font-size: 1.5rem;
    color: #fff;
}

.Search {
    border-radius: 3px;
    max-height: 3rem;
    height: 3rem;
    margin: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.75rem;
}

.Button {
    font-weight: bold;
    font-size: 1.25rem;
    border: 3px;
    background-color: #fff;
    height: 3rem;
    width: 12rem;
    margin: 1rem;
}