@media screen and (max-width: 600px) {
    .Footer {
        height: 5rem;
    }
    .Footer__attribs__metaTitle {
        font-size: 1.25rem;
    }
    .Footer__attribs__container__link {
        font-size: 1.25rem;
    }
}