/* globals */
@import './Reset.css';
@import './Main.css';
@import './Fonts/Fonts.css';
/* from comps */
@import './components/Header/Header.css';
@import './components/SearchVideos/SearchVideos.css';
@import './components/DisplayManager/DisplayManager.css';
@import './components/ManageAccount/ManageAccount.css';
@import './components/Footer/Footer.css';

input, button {
    font-family: 'BlackChancery', 'Neuropol X Rg',  'Beware',  'Good Times Rg', 'Libre Baskerville', 'Libre Baskerville', 'Cilica';
}

.App {
    font-family:  'BlackChancery', 'Neuropol X Rg',  'Beware',  'Good Times Rg', 'Libre Baskerville', 'Libre Baskerville', 'Cilica';
    display: flex;
    flex-direction: column;
    background: rgb(128,128,128);
    background: linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(214,214,214,1) 42%, rgba(232,232,232,1) 100%);

    display: flex;
    flex-direction: column;   
    width: 100%;
}